* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  display: flex;
}

.banner {
  flex: 5;
  height: 100vh;
  position: relative;
}
.banner__overlay {
  height: 100%;
  width: 100%;
  background-color: #2b156bad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__overlay--slogan {
  color: white;
  font-size: 48px;
  font-family: "Inter", sans-serif;
}
.login {
  height: 100vh;
  background-color: #ffffff;
  flex: 3;
  display: flex;
  align-items: center;
  overflow-y: auto;
}
.login-content {
  width: 54%;
  margin: 0 auto;
  position: relative;
}
.title {
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #121212;
}
.title-desc {
  margin-top: 12px;
  size: 18px;
  color: #aaaaaa;
  font-family: "Inter", sans-serif;
}
.sign-in__form--email {
  margin-top: 49px;
}
label {
  margin-top: 22px;
  display: block;
  font-family: "Mulish", sans-serif;
}
input {
  width: 100%;
  height: 48px;
  margin-top: 8px;
  border: 2px solid #dedede;
  border-radius: 12px;
  font-size: 16px;
  color: #4e4b66;
  padding-left: 20px;
  font-family: "Mulish", sans-serif;
}

.btnSubmit {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color: #5f2eea !important;
}
.alert {
  width: 100%;
  margin-top: 12px;
  text-align: center;
  font-weight: 500;
  position: absolute;
}
.sign-in__button:hover {
  cursor: pointer;
}

/* responsive */
@media (max-width: 1199px) {
  .sign-in__container {
    width: 70%;
  }
  .title {
    font-size: 32px;
  }
  .title__desc {
    font-size: 16px;
  }
}
@media (max-width: 916px) {
  .banner {
    flex: 3;
  }
  .banner__overlay--jumbotron {
    width: 80%;
  }
  .banner__overlay--slogan {
    font-size: 1.8rem;
  }
}
@media (max-width: 614px) {
  .sign-in__container {
    width: 80%;
  }
  .title__desc,
  .sign-in__form--email,
  .sign-in__form--password {
    font-size: 14px;
  }
}
@media (min-width: 521px) {
  .sign-in__logo {
    display: none;
  }
}
@media (max-width: 521px) {
  .banner,
  .title__desc {
    display: none;
  }
  .sign-in {
    padding-top: 36px;
    display: unset;
  }

  .title {
    margin-top: 28px;
    font-size: 28px;
  }
  .sign-in__form--email {
    margin-top: 28px;
  }
  .button {
    width: 64px;
    margin: 0 14px;
  }
  .button-group-login {
    justify-content: center;
  }
  .google,
  .facebook {
    display: none;
  }
}
