main {
  background-color: #f5f6f8;
  padding-bottom: 50px;
}
.content {
  margin-left: 50px;
  padding-top: 50px;
}
.booking-title {
  font-size: medium;
  color: black !important;
}
.movie__title {
  background-color: white;
  padding: 50px;
}
.button-order {
  padding-left: 50px;
}
.button__changeMovie {
  background-color: #5f2eea !important;
  color: white;
  width: 100% !important;
}
.seat-order {
  padding-top: 50px;
}
.image__seat {
  background-color: white;
}
.seat__row {
  flex-wrap: nowrap !important;
  margin-bottom: 10px;
}

.seat__col {
  padding: 0 5px !important;
}

.seat__list {
  width: 20px;
  height: 20px;
  border-radius: 25% !important;
  cursor: pointer;
}

.seat__list:hover {
  width: 25px;
  height: 25px;
}

.seat__list--available {
  background-color: #d6d8e7 !important;
}

.seat__list--selected {
  background-color: #5f2eea !important;
}

.seat__list--sold {
  background-color: #6e7191 !important;
}

@media (max-width: 575.98px) {
  .seat__row {
    margin-bottom: 5px;
  }
  .seat__col--text {
    font-size: 10px;
  }
  .seat__list {
    width: 10px;
    height: 10px;
    border-radius: 15%;
  }
  .seat__list:hover {
    width: 15px;
    height: 15px;
  }
}
.content__order {
  background-color: white;
}
.title-studio {
  text-align: center;
}
.movie-select {
  color: #6b6b6b;
}
.price {
  color: #5f2eea;
}
