* {
  padding: 0;
  margin: 0;
}
.navbar__home {
  background-color: white;
  text-align: justify;
  position: fixed;
  width: 100%;
  padding: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

.navbar {
  margin-left: 10px;
}
.nav-link {
  color: black;
}

.button__location {
  background-color: white;
  color: black;
  font-size: 10px;
  border: none;
  margin-right: 100px;
}

.button__signup {
  margin-right: 100px;
  background-color: #9b59b6;
  border-color: #9b59b6;
  border-radius: 20px;
  height: 40px;
  width: 120px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
}
.button__signup:hover {
  background-color: #9b59b6 !important;
}

main {
  background-color: #f5f6f8 !important;
  padding-bottom: 50px;
}

.content img {
  width: 100%;
  left: 5.12%;
  right: 26.5%;
  top: 18.24%;
  bottom: 44.41%;
}

.content__order {
  padding: 20px;
  background-color: white;
}

.filter-button {
  background-color: #5f2eea !important;
  color: white !important;
  border-color: #5f2eea !important;
  width: 100%;
}

.reset-button {
  background-color: white !important;
  color: #5f2eea !important;
  border-color: #5f2eea !important;
  width: 100%;
}

footer p {
  color: #4e4b66;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

footer .row .col-md-3 .footer__content {
  color: #4e4b66;
}
