.ticket__result-main {
  background-color: #f5f6f8;
  padding: 42px;
}
.ticket__result-container {
  width: 70%;
  margin: 0px auto;
}
.ticket__result-card {
  padding: 42px;
  background-color: #ffffff;
  border-radius: 8px;
}
.ticket__result-title {
  text-align: center;
  color: #14142b;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}
.ticket__result-header {
  padding: 12px 42px;
  border-radius: 24px 24px 0px 0px;
  background: #5f2eea;
}
.ticket__result-body {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 12px 42px;
  border-radius: 0px 0px 24px 24px;
}
.ticket__result-image {
  width: 150px;
}
.ticket__result-header-column {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
.ticket__result-header-column h6 {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
.ticket__result-body-space h6 {
  color: #aaaaaa;
  font-size: 14px;
}
.ticket__result-body-space span {
  color: #14142b;
  font-weight: 600;
  font-size: 16px;
}
.ticket__result-choose {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
.ticket__result-button {
  border: 1px solid #4e4b66;
  background-color: transparent;
  color: #4e4b66;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 42px;
  border-radius: 4px;
  margin: 0px 5px;
}

@media (max-width: 575.98px) {
  .ticket__result-image {
    display: none;
  }
  .ticket__result-container {
    width: 100%;
    padding: 0px 25px;
  }
  .ticket__result-main {
    padding: 24px 0px;
  }
  .ticket__result-card {
    padding: 12px;
  }
  .ticket__result-header {
    display: none;
  }
  .ticket__result-title {
    display: none;
  }
  .ticket__result-body {
    padding: 12px 21px;
    border: none;
    display: flex;
    flex-wrap: wrap;
  }
  .ticket__result-body-space {
    flex: 1 1 33.3333%;
  }
  .ticket__result-body-space span {
    font-weight: 600;
    font-size: 14px;
  }
  .ticket__result-body-space h6 {
    font-weight: 600;
    color: #aaaaaa;
    font-size: 12px;
  }
  .ticket__result-image-barcode {
    width: 80%;
    margin: auto;
  }
  .ticket__result-choose {
    display: none;
  }
  .ticket__result-body-total {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #dedede;
    border-radius: 4px;
    width: 100%;
    justify-content: space-between;
  }
}
